<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>updateFileName</key>
		<string>20141203-v1-base</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<dict>
		<key>updateFileName</key>
		<string>20141203-v2-update</string>
		<key>version</key>
		<string>2.0</string>
	</dict>
</array>
</plist>
